<app-main-carousel [slides]="slides"></app-main-carousel>
<div class="home-1-wrap">
  <div class="container">
      <div fxLayout="row wrap" class="info-bar">
        <div class="card-wrap" fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
          <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg  m-0">card_giftcard</mat-icon>
            <div class="content">
              <p>Get a Phema Agri Account</p>
              <span class="text-muted m-0">Register an account</span>
            </div>
          </mat-card>
        </div>
        <div class="card-wrap" fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
          <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg  m-0">monetization_on</mat-icon>
            <div class="content">
              <p>Pledge an open Investment</p>
              <span class="text-muted m-0">Pledge an open Investment</span>
            </div>
          </mat-card>
        </div>
        <div class="card-wrap" fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
          <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg m-0">monetization_on</mat-icon>
            <div class="content">
              <p>Invest in a farm</p>
              <span class="text-muted m-0">invest in a farm</span>
            </div>
          </mat-card>
        </div>
        <div class="card-wrap" fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
          <mat-card class="light-block no-bd" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg m-0">history</mat-icon>
            <div class="content">
              <p>Monitor your investment</p>
              <span class="text-muted m-0">Monitor your investment</span>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="products sec-padding">
          <mat-tab-group>

            <mat-tab  label="OUR INVESTMENTS">

                     <app-product-carousel [product]="products | slice:0:8"></app-product-carousel>

            </mat-tab>

            <mat-tab label="Open Projects">

                    <app-product-carousel [product]="products | slice:0:14"></app-product-carousel>

            </mat-tab>

            <mat-tab label="Sold out">

                      <app-product-carousel [product]="products | slice:14:22"></app-product-carousel>

            </mat-tab>

          </mat-tab-group>
        </div>
      <app-banners [banners]="banners"></app-banners>
      <app-product-vertical [products]="products"></app-product-vertical>
    </div>
</div>
